<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
          body{
    margin: 0;
    padding-left: 400px;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cadetblue;

}
        .card {
    background-color: grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    border: 1px solid #ccc;
    margin: auto;
}
.but{
    background-color: burlywood;
}
    </style>
    <title>Home</title>
</head>
<body>
    <div class="card">
    <H1>Welcome</H1>
    <label >Enter your name first to see posts</label>
    <form method="post">
    <input type="text" name="na" required>
    <input type="submit" value="See Posts" class="but">
</form>
</div>
</body>
</html>